<phpunit
        bootstrap="./bootstrap.php"
        colors="true"
        stopOnFailure="true"
        syntaxCheck="true"
        backupGlobals = "false"
        >
    <testsuite name="Application Test Suite">
        <directory>./application/services</directory>
    </testsuite>
    <filter>
        <!-- If Zend Framework is inside your project's library, uncomment this filter -->
        <whitelist>
            <directory suffix=".php">../application/services</directory>
            <exclude>
                <directory suffix=".php">../library/Zend</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log
                type="coverage-html"
                target="./build/coverage"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log type="coverage-xml" target="./build/logs/coverage.xml"/>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="tap" target="./build/logs/phpunit.tap"/>
        <log type="testdox-text" target="./build/logs/testdox.txt"/>
        <log type="junit" target="./build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
